/*TODO: try other fonts
   make css sheet clearer*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

.citation {
    font-style: italic;
}

.citation-source {
    font-size: 0.9em;
    color: #555;
}

body {
    background-color: #f8f5ec;
}

h2 {
    font-weight: bolder!important;
    font-size: 1.7em!important;
}

@media (max-width: 576px) {
    .mobile-center {
        text-align: center!important;
    }
    .card-container {
        padding: 0 12px;
    }
    .featurette-divider {
        display: none;
    }
    #painting_description {
        text-align: center;
    }
    p > .lead {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    blockquote > p > .citation {
        padding-bottom: 12px;
        text-align: center;
    }
}

a.btn-primary {
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1.1em;
    background-color: #7c2f2f;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s, transform 0.2s;
}

a.btn-primary:hover {
    background-color: #bfa76a;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

a.btn-primary:active,
a.btn-primary:focus {
    background-color: #bfa76a !important; /* Same as hover */
    color: #3d2a14 !important;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

a {
    text-decoration: none!important;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 24px;
}

.painting-card {
    padding-bottom: 14px;
}

#img_painting_id {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

p > span {
    font-weight: bold;
}